<div class="navbar bg-base-100 shadow-md px-10">
  <div class="navbar-start">
    <a routerLink="/inicio" class="text-2xl font-serif font-bold text-primary">
      Ana's Bakery
    </a>
  </div>

  <div class="navbar-center hidden lg:flex gap-4">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/catalogo">Catálogo</a></li>
      <li><a>Mis pedidos</a></li>
    </ul>

    <button
      *ngIf="isAdmin()"
      routerLink="/admin"
      class="btn btn-outline btn-sm"
    >
      Dashboard
    </button>
  </div>

<div class="navbar-end">

  <!-- Si NO está logueado -->
  <a
    *ngIf="!isLogged()"
    routerLink="/login"
    class="btn btn-primary rounded-full"
  >
    Iniciar sesión
  </a>

  <!-- Si está logueado -->
  <button
    *ngIf="isLogged()"
    (click)="logout()"
    class="btn btn-error rounded-full"
  >
    Logout
  </button>

</div>
</div>
